/* .alert-success {
    background-color: green;
    padding: 10px;
    font-family:sans-serif;

}

.alert-warning {
    background-color: yellow;
    padding: 10px;
    font-family:sans-serif;

}

.alert-danger {
    background-color: red;
    padding: 10px;
    font-family:sans-serif;

}

.alert-info {
    background-color: grey;
    padding: 10px;
    font-family:sans-serif;

} */
/*nav li{display: inline; background-color: blanchedalmond;}*/
nav{
    margin-bottom: 25px !important;
}
nav li a{
    color: black !important;
    margin-left: 25px !important;
    font-family:sans-serif !important;

}
input{
    margin-top: 15x !important;
    margin-bottom: 10px !important;
}
input[type=text]:focus {
    border: 3px solid #555 !important;
}
label{
    font-family:sans-serif !important;
}
body{
    background-color: #FBF8EF !important;
    color: black !important;

}
nav ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Style the navigation links */
nav a {
    text-decoration: none !important;
    color: #333 !important; /* Change to your desired link color */
    font-weight: bold !important;
    transition: color 0.3s ease !important;
}
nav a:hover {
    color: navy !important; /* Change to your desired hover color */
}

/* Add spacing between list items */
nav li {
    display: inline !important;
    margin-bottom: 10px !important;
}
input[type=submit] {
    transition-duration: 0.4s !important;
    border-radius: 3px !important;
    background-color: lightgray !important;
    color: black !important;
    padding: 5px !important;
    font-family:sans-serif !important;
}
h3{
    font-family: 'Calibri' !important;
}
.bg-success{
    background-color: pink !important;
}
.nav-link{
    color: black !important;
}